.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input,
  .form-container textarea {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Set width to 100% for all inputs and textarea */
  }
  
  .form-container button {
    padding: 15px 20px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #999;
  }
  
  /* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .form-container {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
  }

  .form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .form-container input,
  .form-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
  }

  .form-container button {
    padding: 12px 15px;
    font-size: 1rem;
  }
}
