.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Set height to 100vh to cover the entire viewport */
  overflow: hidden;
}

.hero-mid {
  height: 75vh;
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.hero-text {
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-weight: 900;
  font-size: 3rem;
  margin-top: -150px;
}

.hero-text p {
  margin-top: -20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.hero-text button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 12px;
  font-weight: 300;
  border: none;
  color: black;
}

.hide {
  display: none;
}

/* Media queries for mobile screens */
@media (max-width: 768px) {
  .hero {
    height: 100vh; /* Adjusted height for mobile screens */
  }

  .hero-image {
    height: 100vh; /* Ensure the hero image covers the entire viewport height on mobile */
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .hero-text {
    margin-top: 50px;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-top: -100px;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}
